@import "tailwindcss";


  :root {
    --color-primary: #030625;
    --color-secondary: #06B6D4;
    --color-dark-bg: #010415;
    --color-light-bg: #F8FAFC;
    --color-btnSatu: #0B3AFB;
    --color-colorhover: #06A7FF;

    --font-heading: "Poppins", sans-serif;
    --font-body: "Inter", sans-serif;
  }





body {
  font-family: var(--font-body);
  background-color: var(--color-light-bg);
  color: var(--color-dark-bg);
  transition-property: color, background-color;
  transition-duration: 300ms;
}


.dark body {
  background-color: var(--color-dark-bg);
  color: #fff;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}